<!-- Start Feature Area -->
{% for item in site.data.feature.items %}
<div class="feature-area {% if page.home != 4 %} bg-color {% endif %} fix area-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6" style="order: {% if item.image_direction == 'left' %}2{% else %}1{% endif %}">
                <div class="feature-all">
                    <div class="right-headline">
                        <span class="top-text">
                            <i class="ti-stats-up"></i>
                            <span>{{item.header_title}}</span>
                        </span>
                        <h2>{{item.title}}</h2>
                        <p>{{item.description}}</p>
                    </div>
                    {% for point in item.main_points %}
                        <div class="support-services wow fadeInUp" data-wow-delay="0.3s">
                            <a class="support-images" href="#"><i class="{{point.icon}}"></i></a>
                            <div class="support-content">
                                <h4>{{point.title}}</h4>
                                <p>{{point.text}}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6" style="order: {% if item.image_direction == 'left' %}1{% else %}2{% endif %}">
                <div class="feature-content">
                    <div class="feature-images">
                        <img src="{{item.image | relative_url }}" alt="" class="first-img">
                        <img src="{{item.over_image | relative_url }}" alt="" class="over-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}